.nav-menu {
  text-align: right;
}

.nav-menu a {
  text-decoration: none;
}

.nav-spacing {
  margin: 0 0 0 10px;
}

.image-link {
  text-decoration: none;
}

.quote {
  padding: 2px 20px;
  background: #fafafa;
}

.title {
  text-align: center;
  margin: 0 0 80px;
}

.content-container {
  width: 500px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fafafa;
}

.cover-image {
  float: left;
  margin: 0 40px 0 0;
}

.title-quote {
  font-style: italic;
  font-size: 20px;
}

.paragraph-highlight {
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}

.image-float {
  display: block;
  margin: 0 auto;
}